* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 174);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

/* "." wird zum Ansprechen von Klassen im HTML Dokument genutzt*/
.second {
  color: aqua;
}

/* Namen direkt ansprechen */
#your-name {
  background-color: rgb(107, 107, 30);
  border: 5px solid rgb(30, 30, 25);
  /* Ist eine Shortproperty weil man direkt mehrere Eigenschaften ansprechen kann*/
}

input,
button {
  padding: 10px;
  font-size: 10px;
}
